/*LOGINFORM*/

 #loginform  .loginform-input{
  padding: 7px;
  text-shadow: 0px 1px 0px rgba(252,252,252,0.6);
	border: 1px solid rgb(210,210,210);
	background-color: #ffffff;
  width: 300px;
  height: 16px;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 16px !important;
  font-style: italic;
  color: rgb(80,80,80);
}

#loginform loginform-input{
	border: 1px solid rgb(180,180,180);
	background-color: rgb(250,250,250);
}

#loginform loginform-input{
	border: 1px solid rgb(100,100,100);
	background-color: rgb(232,232,232);
}

#loginform .login-button{
  text-shadow: 0px 1px 0px rgba(252,252,252,0.6);
	border: 1px solid rgb(210,210,210);
	background-color: rgb(200,200,200);
  height: 30px;
  margin-top: 20px;
  color: rgb(80,80,80);
  padding: 5px 30px 5px 30px;
  font-size: 15px;
  font-family: "verdana", arial;
  outline: none; /*Autocomplette border color off*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: hand;
  cursor: pointer;
}

#loginform .login-button:hover{
	border: 1px solid rgb(100,100,100);
	background-color: rgb(232,232,232);
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.alogin:link,
.alogin:active,
.alogin:visited{
  text-shadow: 0px 1px 0px rgba(250,250,250, 0.6);
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: rgb(33,66,99);
}

.alogin:hover{
  color: rgb(240,70,80);
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

#userdatas{
  display: none;
}

@media only screen and (max-width: 430px) {
  #loginform loginform-input{
    width: 250px;
  }
}
@media only screen and (max-width: 330px) {
  #loginform loginform-input{
    width: 200px;
  }
}