/*SEARCH-LINE*/
.search-line{
  text-align: right;
  vertical-align: center;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  background-image: url('img/diagonal_gray_bg.png');
  display: inline-block;
  border: 0;
  border-top: 5px solid #c0c0c0;
  border-bottom: 1px solid #111111;
  padding-top: 20px;
}
.search-line .align-right{
  padding-right: 20px;
}

.search-input{
  width: 150px;
  height: 30px;
}

.search-input{
  padding: 10px;
  text-shadow: 0px 1px 0px rgba(252,252,252,0.6);
	border: 1px solid rgb(210,210,210);
	background-color: #ffffff;
  width: 250px;
  height: 10px;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 16px !important;
  font-style: italic;
  color: rgb(80,80,80);
}

.search-input:hover{
	border: 1px solid rgb(180,180,180);
	background-color: rgb(250,250,250);
}

.search-input:focus{
	border: 1px solid rgb(100,100,100);
	background-color: rgb(232,232,232);
}

.search-button{
  text-shadow: 0px 1px 0px rgba(252,252,252,0.6);
	border: 1px solid rgb(210,210,210);
	background-color: rgb(200,200,200);
	background-image: url('icons/gray/16x16/search.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  color: rgb(80,80,80);
  padding: 5px 30px 5px 30px;
  font-size: 15px;
  font-family: "verdana", arial;
  outline: none; /*Autocomplette border color off*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: hand;
  cursor: pointer;
}

.search-button:hover{
	border: 1px solid rgb(100,100,100);
	background-color: rgb(232,232,232);
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

@media only screen and (max-width: 430px) {
  .search-input{
    width: 150px;
  }
}
@media only screen and (max-width: 330px) {
  .search-input{
    width: 100px;
  }
  
  .search-button{
    padding: 5px 5px 5px 5px;
    background-image: none;
  }
  
  .search-line .align-right{
    padding-right: 2px;
  }
}